{
  "path_big_arch": "C:\\Users\\stolf\\dev\\Progetto Visione e Percezione\\litepose-pose-estimation\\src\\lp_trained_models\\bigarch",
  "path_video": "C:\\Users\\stolf\\dev\\Progetto Visione e Percezione\\referee.mp4",
  "path_csv_keypoints": "C:\\Users\\stolf\\dev\\Progetto Visione e Percezione\\src\\referee_gloves_detector\\resources\\keypoints.csv",
  "path_csv_keypoints_video": "C:\\Users\\stolf\\dev\\Progetto Visione e Percezione\\dataset_keypoints\\keypoints_video.csv",
  "path_csv_keypoints_webcam": "C:\\Users\\stolf\\dev\\Progetto Visione e Percezione\\dataset_keypoints\\keypoints_webcam.csv"
}
  